<h1>Contact List</h1>
  <table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Address</th>
      <th></th>
    </tr>
    <% @contacts.each do |c| %>
    <tr>
      <td><%= c.first_name %></td>
      <td><%= c.last_name %></td>
      <td><%= c.email %></td>
      <td><%= c.address %></td>
      <td><form action="update" method="get" ><input type="submit" value="Change Contact Info" id="<%=c.id%>"></form></td>
      <% end %>
  </table>
<!--  <form action="/" method="get">
    <input type="submit" value="Add More Contacts">
  </form>-->
